* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html{
    height: 100%;
    margin: 0px;
    font-family: "Raleway", sans-serif;

}

body {
  height: 100%;
  margin: 0px;
  font-family: "Raleway", sans-serif;
}

.background_div{
  background-color:hsla(183,36%,55%,1);
  background-image:
  radial-gradient(at 90% 8%, hsla(193,82%,55%,1) 0px, transparent 50%),
  radial-gradient(at 66% 91%, hsla(0,40%,60%,1) 0px, transparent 50%),
  radial-gradient(at 9% 92%, hsla(0,30%,57%,1) 0px, transparent 50%);
  text-align: justify;
  text-justify: inter-word;
}

img {
    width: 100%;
    border-radius: 12px;
    height: 350px;
    object-fit: cover;
}

.center {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 65px;
}

.center_inside {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 25px;
}

#container1 {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 0vh;
    margin: -25px 0 0 -25px;
    margin-left: auto;
    margin-right: auto;
}

#container2 {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 0vh;
    margin: -25px 0 0 -25px;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width: 1100px) {
  .td_top {
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  table{
    margin:0 auto;
  }
}
.card {
    background-color: white;
    height: 720px;
    /* height: fit-content; */
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
}
  
.name {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  font-family: 'Righteous', cursive;
}
  
p {
  margin-top: 15px;
  font-size: 16px;
  color: #7f8c9b;
  line-height: 150%;
  font-family: 'Mulish', sans-serif;
}

.button_github {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  display: block;
  cursor: pointer;
  font-family: 'Righteous', cursive;
}

.button_website {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  display: block;
  cursor: pointer;
  font-family: 'Righteous', cursive;
}

.button_linkdin {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  display: block;
  cursor: pointer;
  font-family: 'Righteous', cursive;
}
  

.card__details {
  padding: 16px 8px 8px 8px;
}

.button_github:focus,.button_github:hover {
  background-color: black;
  color: white;
}

.button_website:focus,.button_website:hover {
  background-color: #ECDCDB;
  color: #234145;
}

.button_linkdin:focus,.button_linkdin:hover {
  background-color: #0077ff;
  color: #e0efff;
}


.topnav {
  background-color: rgba(255, 255, 255, .30);   
  backdrop-filter: blur(10px);
  overflow: hidden;
  font-family: 'Righteous', cursive;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #b14f4f;
  color: #e0efff;
  border-radius: 12px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 700px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}